* {
  font-family: "Courier New", Courier, monospace;
}

body html {
  margin: 0;
  height: 100vh;
}

html {
  background-color: rgb(63, 63, 70);
}

h1 {
  color: whitesmoke;
}

#logo {
  display: inline-flex;
  width: 4rem;
}

#title {
  display: flex;
  gap: 20px;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameBoard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-top: 2%;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-top: 2%;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  width: 200px;
  height: 200px;
  font-size: 3rem;
  font-weight: bold;
}

input {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: solid 3px red;
  border-radius: 10px;
  background-color: whitesmoke;
}

input:focus {
  border: none;
  outline: solid 3px orange;
  background-color: whitesmoke;
}

button {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
}

#startBtn {
  background-color: green;
}

#resetBtn {
  background-color: red;
}
