body html {
  margin: 0;
  height: 100vh;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameBoard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-top: 2%;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  width: 200px;
  height: 200px;
  font-size: 3rem;
  font-weight: bold;
}

input {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
}

button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
